body {
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    color: white;
    font-size: 12px;
}

.header-logo {
    font-weight: extra-bold;
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.one {
    background-color: #1f2937;
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 150px;
    color: white;
}

.oneleft {
    flex-wrap: wrap;
    max-width: 450px;
}

.oneleftheader {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.oneleftbody {
    font-size: 18px;
    margin-bottom: 10px;
    color: #e5e7eb;
}

.oneleftbutton {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: #1f2937;
    color: white;
    border-radius: 12%;
    padding: 8px 24px;
    

}

.oneright {
    height: 150px;
    width: 350px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.twoheader {
    font-weight: extra-bold;
    font-size: large;
    margin-bottom: 36px;
    color: #1f2937
}

.twobody {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}

.two1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    gap: 10px
}

.twobox {
    height: 120px;
    width: 120px;
    border: solid #3882f6 2px;
    border-radius: 12%;
}

.twotext {
    text-align: center;
    flex-wrap: wrap;
    font-size: small;
}

.three {
    background-color:  #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.threebody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    height: 300px;
    font-size: 24px;
}


.thor {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    font-weight: bold;
    text-align: right;
    margin-top: -20px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
}

.bluebox {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background-color: #3882f6;
    border-radius: 8px;
    width: 700px;
    align-items: center;

}

.blueboxleft {
    flex-wrap: nowrap;
}

.fourtexttop {
    font-weight: bold;
    color: white;
}

.fourtextbottom {
    font-size: small;
    color: white;
}

.fourbutton {
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #3882f6;
    width: 100px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 2px;
    font-size: small;
}

